@font-face {
  font-family: 'Knewave';
  font-style: normal;
  font-weight: 400;
  src: local('Knewave'),
       local('Knewave-Regular'),
	   url('fonts/knewave.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: local('Source Code Pro'),
	     local('SourceCodePro-Regular'),
	     url('fonts/SourceCodePro-Regular.eot') format('embedded-opentype'),
         url('fonts/SourceCodePro-Regular.ttf.woff2') format('woff2'),
         url('fonts/SourceCodePro-Regular.otf.woff') format('woff'),
         url('fonts/SourceCodePro-Regular.otf') format('opentype'),
         url('fonts/SourceCodePro-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: local('Source Code Pro Italic'),
	     local('SourceCodePro-Italic'),
	     url('fonts/SourceCodePro-It.eot') format('embedded-opentype'),
         url('fonts/SourceCodePro-It.ttf.woff2') format('woff2'),
         url('fonts/SourceCodePro-It.otf.woff') format('woff'),
         url('fonts/SourceCodePro-It.otf') format('opentype'),
         url('fonts/SourceCodePro-It.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: local('Source Code Pro Bold'),
	     local('SourceCodePro-Bold'),
	     url('fonts/SourceCodePro-Bold.eot') format('embedded-opentype'),
         url('fonts/SourceCodePro-Bold.ttf.woff2') format('woff2'),
         url('fonts/SourceCodePro-Bold.otf.woff') format('woff'),
         url('fonts/SourceCodePro-Bold.otf') format('opentype'),
         url('fonts/SourceCodePro-Bold.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: local('Source Code Pro Bold Italic'),
	     local('SourceCodePro-BoldItalic'),
	     url('fonts/SourceCodePro-BoldIt.eot') format('embedded-opentype'),
         url('fonts/SourceCodePro-BoldIt.ttf.woff2') format('woff2'),
         url('fonts/SourceCodePro-BoldIt.otf.woff') format('woff'),
         url('fonts/SourceCodePro-BoldIt.otf') format('opentype'),
         url('fonts/SourceCodePro-BoldIt.ttf') format('truetype');
}

@font-face{
	font-family: 'Work Sans';
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	src: local('Work Sans'),
	     local('WorkSans-Regular'),
		 src('fonts/WorkSans-Regular.woff2') format('woff2'),
		 src('fonts/WorkSans-Regular.woff') format('woff'),
		 src('fonts/WorkSans-Regular.otf') format('opentype'),
		 src('fonts/WorkSans-Regular.ttf') format('truetype');
}

@font-face{
	font-family: 'Work Sans';
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	src: local('Work Sans Italic'),
	     local('WorkSans-Italic'),
		 src('fonts/WorkSans-Italic.woff2') format('woff2'),
		 src('fonts/WorkSans-Italic.woff') format('woff'),
		 src('fonts/WorkSans-Italic.otf') format('opentype'),
		 src('fonts/WorkSans-Italic.ttf') format('truetype');
}

@font-face{
	font-family: 'Work Sans';
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	src: local('Work Sans Bold'),
	     local('WorkSans-Bold'),
		 src('fonts/WorkSans-Bold.woff2') format('woff2'),
		 src('fonts/WorkSans-Bold.woff') format('woff'),
		 src('fonts/WorkSans-Bold.otf') format('opentype'),
		 src('fonts/WorkSans-Bold.ttf') format('truetype');
}

@font-face{
	font-family: 'Work Sans';
	font-weight: 700;
	font-style: italic;
	font-stretch: normal;
	src: local('Work Sans Bold Italic'),
	     local('WorkSans-BoldItalic'),
		 src('fonts/WorkSans-BoldItalic.woff2') format('woff2'),
		 src('fonts/WorkSans-BoldItalic.woff') format('woff'),
		 src('fonts/WorkSans-BoldItalic.otf') format('opentype'),
		 src('fonts/WorkSans-BoldItalic.ttf') format('truetype');
}
