title: Articles
hide_title: true
sidebar: sidebar/index.markdown

{{# site }}
<table id="article-list">
	<tbody>
	{{# content.articles }}
		<tr>
			<td class="date">{{ date }}</td>
			<td><a href="/{{{ slug }}}.{{{ output_suffix }}}">{{ title }}</a></td>
		</tr>
	{{/ content.articles }}
</dl>
{{/ site }}
