title: Articles - Adrián Pérez de Castro
hide_title: true

{{# site }}
<table id="postlist">
	<tbody>
	{{# posts }}
		<tr>
			<td class="date">{{ date }} &mdash;</td>
			<td><a href="/{{ slug }}.html">{{ title }}</a></td>
		</tr>
	{{/ posts }}
</dl>
{{/ site }}
