title: Old Articles
comments: false
sidebar: sidebar/oldstuff.markdown

{{# site }}
<table id="article-list">
	<tbody>
	{{# content.oldstuff }}
		<tr>
			<td class="date">{{ date }}</td>
			<td>
				<a href="/{{{ url }}}">{{ title }}</a>
				{{# category }}
				<span class="category">{{ category }}</span>
				{{/ category }}
			</td>
		</tr>
	{{/ content.oldstuff }}
</dl>
{{/ site }}
