<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
	{{# site }}
	<title type="html">{{ title }}</title>
	{{# tagline }}<subtitle type="html">{{ tagline }}</subtitle>{{/ tagline }}
	<link href="{{{ baseurl }}}/{{{ feed }}}" rel="self"/>
	<link href="{{{ baseurl }}}/" />
	<id>{{{ baseurl }}}/{{{ feed }}}</id>
	<updated>{{ isodate }}</updated>
	<author>
		{{# author }}<name>{{ author }}</name>{{/ author }}
		{{# author_email }}<email>{{ author_email }}</email>{{/ author_email }}
	</author>
	{{/ site }}

	<generator uri="https://github.com/aperezdc/perezdecastro.org">
		perezdecastro.org static site builder
	</generator>

	{{# items }}
	{{^ hidden }}
	<entry>
		<title type="html">{{ title }}</title>
		<id>{{{ fullurl }}}</id>
		<updated>{{ isodate }}</updated>
		<link rel="alternate" type="text/html" href="{{{ fullurl }}}" />
		<content type="html">{{ feedcontent }}</content>
		{{# author }}
		<author>
			<name>{{ author }}</name>
			{{# author_email }}<email>{{ author_email }}</email>{{/ author_email }}
		</author>
		{{/ author }}
	</entry>
	{{/ hidden }}
	{{/ items }}
</feed>
