<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width">

	<title>{{ title }}{{# site }}{{# title }} &mdash; {{ title }}{{/ title }}{{/ site }}</title>

	{{! OpenGraph stuffs }}
	<meta property="og:image" content="{{{ baseurl }}}/css/avatar.png">
	<meta property="og:image:type" content="image/png">
	<meta property="og:image:width" content="72">
	<meta property="og:image:height" content="72">
	<meta property="og:url" content="{{{ fullurl }}}">
	{{# is_index }}
	<meta property="og:title" content="perezdecastro.org">
	<meta property="og:type" content="website">
	<meta property="og:description" content="Adrián Pérez de Castro's web site">
	{{/ is_index }}
	{{^ is_index }}
	<meta property="og:title" content="{{ title }}">
	<meta property="og:type" content="article">
	<meta property="og:published_time" content="{{ isodate }}">
	{{/ is_index }}

	{{^ site.draft }}
	<base href="{{{ fullurl }}}">
	{{/ site.draft }}

	<link rel="alternate" href="/feed.atom" type="application/atom+xml" title="perezdecastro.org Atom Feed">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Knewave&text=perezdecastro.org" type="text/css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Code+Pro:700,400|Raleway:700,400" type="text/css">

	{{# site.draft}}
	<link rel="stylesheet" href="/css/normalize.min.css">
	<link rel="stylesheet" href="/css/highlight.css">
	<link rel="stylesheet" href="/css/main.css">
	{{/ site.draft }}
	{{^ site.draft }}
	<link rel="stylesheet" href="/css/all.css">
	{{/ site.draft }}

	<!--[if lt IE 9]>
	<script src="/js/vendor/html5-3.6-respond-1.1.0.min.js"></script>
	<![endif]-->
	</head>
	<body>

		<div class="header-container">
			<header class="wrapper clearfix">
				<div id="header-avatar"></div>
				{{# site }}
				<h1 class="title">{{ title }}</h1>
				{{# tagline }}<p>{{{ tagline }}}</p>{{/ tagline }}
				{{/ site }}
				<nav>
					<ul>
					{{^ is_index }}
						<li class="back"><a href="/">↫ Back to the index</a></li>
					{{/ is_index }}
					{{# site }}
						{{# navigation }}
						<li><a href="{{{ link }}}">{{ text }}</a></li>
						{{/ navigation }}
					{{/ site }}
					</ul>
				 </nav>
			</header>
		</div>

		<div class="main-container">
			<div class="main wrapper clearfix">

				{{# sidebar }}
				<aside>
			    {{# title }}<h3>{{ title }}</h3>{{/ title }}
			    {{{ content }}}
	    	</aside>
	    	{{/ sidebar }}

				<article>
					{{^ hide_title }}
					<header>
						<h1>{{ title }}</h1>
						{{# subtitle }}<p>{{ subtitle }}</p>{{/ subtitle }}
						{{^ hide_date }}
						<p class="article-date">{{ date }}
						{{^ is_index }}
						{{^ nocomments }}
						&bull; <a id="#disqus_link" href="#disqus_thread"
							data-disqus-identifier="{{{ slug }}}">comments</a>
						{{/ nocomments }}
						{{/ is_index }}
						</p>
						{{/ hide_date }}
					</header>
					{{/ hide_title }}

					{{{ content }}}
				</article>

				{{^ is_index }}
				{{^ nocomments }}
				<div id="disqus_thread"></div>
				<script type="text/javascript">
					var disqus_identifier = "{{{ slug }}}";
					var disqus_shortname = "perezdecastro";
					var disqus_title = "{{ title }}";
					var disqus_url = "{{{ fullurl }}}";
					(function() {
						var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
						dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
						(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
						var cnt = document.createElement('script'); cnt.type = 'text/javascript'; cnt.async = true;
						cnt.src = '//' + disqus_shortname + '.disqus.com/count.js';
						(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(cnt);
					})();
				</script>
				<noscript>
					Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
				</noscript>
				{{/ nocomments }}
				{{/ is_index }}
			</div> <!-- #main -->
		</div> <!-- #main-container -->

		{{# site.footer }}
		<div class="footer-container">
			<footer class="wrapper">
				{{# title }}<h3>{{ . }}</h3>{{/ title }}
				{{{ content }}}
			</footer>
		</div>
		{{/ site.footer }}
		{{! <script src="js/main.js"></script> }}
	</body>
</html>
